*.o
.dotest
*~
*.so
*.so.0
*.abi
*.a
*.gz
*.d
\#*
compile_commands.json
config.mk
cscope.files
cscope.out
kpartx/kpartx
kpartx/kpartx.rules
multipath/multipath
multipath/multipath.8
multipath/multipath.conf.5
multipath/multipath.rules
multipath/11-dm-mpath.rules
multipath/tmpfiles.conf
multipathd/multipathd
multipathd/multipathd.8
multipathd/multipathc
multipathd/multipathd.service
multipathd/multipathd.socket
multipathd/multipathd-queueing.service
mpathpersist/mpathpersist
mpathpersist/mpathpersist.8
abi.tar.gz
abi
abi-test
compile_commands.json
.nfs*
*.swp
*.patch
*.rej
*.orig
libdmmp/docs/man/*.3.gz
libdmmp/*.so.*
libdmmp/test/libdmmp_test
libdmmp/test/libdmmp_speed_test
tests/*-test
tests/*.out
tests/*.vgr
tests/test-lib.o.wrap
tests/test-log.o.wrap
libmultipath/nvme-ioctl.c
libmultipath/nvme-ioctl.h
libmultipath/autoconfig.h
*/*-nv.version
reference-abi
