*.o
.dotest
*~
*.so
*.so.0
*.a
*.gz
*.d
kpartx/kpartx
multipath/multipath
multipathd/multipathd
mpathpersist/mpathpersist
.nfs*
*.swp
*.patch
*.rej
*.orig
libdmmp/docs/man/*.3.gz
libdmmp/*.so.*
libdmmp/test/libdmmp_test
libdmmp/test/libdmmp_speed_test
tests/*-test
tests/*.out
libmultipath/nvme-ioctl.c
libmultipath/nvme-ioctl.h
