*.o
.dotest
*~
*.so
*.so.0
*.abi
*.a
*.gz
*.d
\#*
cscope.files
cscope.out
kpartx/kpartx
multipath/multipath
multipath/multipath.rules
multipath/tmpfiles.conf
multipathd/multipathd
multipathd/multipathc
mpathpersist/mpathpersist
abi.tar.gz
abi
abi-test
compile_commands.json
.nfs*
*.swp
*.patch
*.rej
*.orig
libdmmp/docs/man/*.3.gz
libdmmp/*.so.*
libdmmp/test/libdmmp_test
libdmmp/test/libdmmp_speed_test
tests/*-test
tests/*.out
tests/*.vgr
libmultipath/nvme-ioctl.c
libmultipath/nvme-ioctl.h
*/*-nv.version
reference-abi
