#
# persistent links for device-mapper devices
# only hardware-backed device-mapper devices (ie multipath, dmraid,
# and kpartx) have meaningful persistent device names
#

KERNEL!="dm-*", GOTO="kpartx_end"
ACTION=="remove", GOTO="kpartx_end"

ENV{DM_TABLE_STATE}!="LIVE", GOTO="kpartx_end"
ENV{DM_DEPS}=="0", GOTO="kpartx_end"

ENV{DM_UUID}=="?*", IMPORT{program}=="kpartx_id %M %m $env{DM_UUID}"

ENV{DM_ACTION}=="PATH_FAILED", ENV{DM_NR_VALID_PATHS}=="0", \
	GOTO="blkid_end"
ENV{DM_UUID}=="mpath-*", IMPORT{program}="/sbin/blkid -o udev -p $tempnode"
ENV{DM_PART}=="?*", IMPORT{program}="/sbin/blkid -o udev -p $tempnode"
LABEL="blkid_end"

OPTIONS="link_priority=50"

# Create persistent links for multipath tables
ENV{DM_UUID}=="mpath-*", \
	SYMLINK+="disk/by-id/$env{DM_TYPE}-$env{DM_NAME}"
ENV{DM_MPATH}=="?*", ENV{DM_PART}!="?*", \
	SYMLINK+="disk/by-id/$env{DM_TYPE}-$env{DM_MPATH}"
ENV{DM_WWN}=="?*", ENV{DM_PART}!="?*", \
	SYMLINK+="disk/by-id/wwn-$env{DM_WWN}"

# Create persistent links for partitions
ENV{DM_PART}=="?*", \
        SYMLINK+="disk/by-id/$env{DM_TYPE}-$env{DM_NAME}-part$env{DM_PART}"
ENV{DM_MPATH}=="?*", ENV{DM_PART}=="?*", \
	SYMLINK+="disk/by-id/$env{DM_TYPE}-$env{DM_MPATH}-part$env{DM_PART}"
ENV{DM_WWN}=="?*", ENV{DM_PART}=="?*", \
	SYMLINK+="disk/by-id/wwn-$env{DM_WWN}-part$env{DM_PART}"

# Create persistent by-label/by-uuid links
ENV{ID_FS_USAGE}=="?*", IMPORT{db}="ID_FS_USAGE"
ENV{ID_FS_UUID_ENC}=="?*", IMPORT{db}="ID_FS_UUID_ENC"
ENV{ID_FS_USAGE}=="filesystem|other|crypto", ENV{ID_FS_UUID_ENC}=="?*", \
	SYMLINK+="disk/by-uuid/$env{ID_FS_UUID_ENC}"
ENV{ID_FS_LABEL_ENC}=="?*", IMPORT{db}="ID_FS_LABEL_ENC"
ENV{ID_FS_USAGE}=="filesystem|other", ENV{ID_FS_LABEL_ENC}=="?*", \
	SYMLINK+="disk/by-label/$env{ID_FS_LABEL_ENC}"

# Create dm tables for partitions
ENV{DM_ACTION}=="PATH_FAILED", ENV{DM_NR_VALID_PATHS}=="0", \
	GOTO="kpartx_end"
ENV{DM_STATE}!="SUSPENDED", ENV{DM_UUID}=="mpath-*", \
        RUN+="/sbin/kpartx -u -p -part /dev/$name"

LABEL="kpartx_end"


