[Unit]
Description=multipathd control socket
DefaultDependencies=no
ConditionKernelCommandLine=!nompath
ConditionKernelCommandLine=!multipath=off
ConditionVirtualization=!container
Before=sockets.target

[Socket]
ListenStream=@/org/kernel/linux/storage/multipathd

[Install]
WantedBy=sockets.target
