name: multiarch test for rolling distros
on:
  push:
    branches:
      - master
      - queue
      - tip
    paths:
      - '**.h'
      - '**.c'
      - '**Makefile*'
      - '**.mk'
  pull_request:
    branches:
      - master
      - queue
    paths:
      - '**.h'
      - '**.c'
      - '**Makefile*'
      - '**.mk'
  # run monthly to catch rolling distro changes
  schedule:
    - cron: '45 02 1 * *'

jobs:

  build-current:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        os:
          - alpine
          - debian-sid
          - fedora-rawhide
        arch: [amd64, ppc64le, aarch64, s390x, 386, arm/v7]
        exclude:
          - os: fedora-rawhide
            arch: 386
          - os: fedora-rawhide
            arch: arm/v7
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: enable foreign arch
        uses: dbhi/qus/action@main
      - name: compile and run unit tests
        uses: mosteo-actions/docker-run@v1
        with:
          image: ghcr.io/mwilck/multipath-build-${{ matrix.os }}
          guest-dir: /build
          host-dir: ${{ github.workspace }}
          command: test
          params: "--platform linux/${{ matrix.arch }}"
          pull-params: "--platform linux/${{ matrix.arch }}"

